<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Immortal1ty</title>
  </head>
  <body>
    <h1>Welcome to the Immortal1ty site</h1>
    <h2>~ The Admins</h2>
    <img src="https://i.ytimg.com/vi/lqpHcI95nzA/maxresdefault.jpg" />
  </body>
</html>
